.app {
  display: flex;
  justify-content: center;
  background: #000;
}
.camera {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.webcam {
}
.btn {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
