.app {
  display: flex;
  justify-content: center;
}
.camera {
  display: flex;
  border: 1px solid red;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.webcam {
}
.btn {
  width: 100%;
}
